.card {
    background-color: yellow;
    width: 60mm;
    height: 85mm;
    padding: 3mm;
    border-radius: 10px;
}

.inner-card {
    background-image: url(./images/Water-typer-background.png);
    color: white;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;

    margin-top: 5px;
    
}

.header-name {
    font-weight: 800;
    font-family: sans-serif;
    color: black;
    margin-left: 10px;

}

.header-hp {
    display: flex;
    gap: 1px;
    margin-right: 10px;
    font-family: sans-serif;
    color: red;
    align-items: baseline;
}


.water-symbol > img {
    height: 20px;
    width: 20px;
    background-color: none;
    
}


.image {
    border: 3px solid gold;
    box-shadow: 3px 3px 10px;
    height: 35mm;
    margin-left: 3mm;
    margin-right: 3mm;
}

.image > img {
    height: 100%;
    width: 100%;
    
}

.pokemon-info {
    display: flex;
    flex-direction: column;
}

.pokemon-specs {
    font-size: 8px;
    color: black;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient(to right, orangered , yellow, orangered);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.text-info-one > p {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    margin-top: 0;
}

/* Using a Pseudo-element */
.text-info-one > p::before {
    content: "Pokémon Power: Rain Dance";
    color: red;
    font-weight: bolder;
    font-size: 8px
}

.text-info-one > p > img {
    width: 6px;
    height: 6px;
}

/* line one */
.text-info-one .hr-one {
    border: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 4px;
    border-radius: 1px;
    background-color: black;
}

/* second text information section */
.text-info-two {
    display: flex;
    flex-direction: row;
    height: 35px;
    
    
}

.text-information > p  {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 0;
    
}

.text-information > p > img {
    width: 6px;
    height: 6px;
}

.text-information > p::before {
    content: "Hydro Pump ";
    font-weight: bolder;
    font-size: 8px
}

.forty-plus {
    font-family: sans-serif;
    font-weight: 300;
    color: black;

}

.first-symbol-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 4px;
}

.second-symbol-section {
    display: flex;
    
    
}


.symbol-one {
    width: 12px;
    height: 12px;
}

.symbol-two {
    width: 12px;
    height: 12px;
    margin-left: 10px;

}

.symbol-three {
    width: 12px;
    height: 12px;
    
    
}

/* line two */
.hr-two {
    border: 1px solid black;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 1px;
    background-color: black;
}

.text-info-three {
    display: flex;
    justify-content: space-between;
    font-size: 6px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

.symbols-text-three {
    display: flex;
    justify-content: space-between;
}

.electric > img {
    margin-left: 20px;
    width: 13px;
    height: 13px;
    
}

.normal > img {
    margin-right: 3px;
    width: 13px;
    height: 13px;
}


.box-element {
    font-size: 6px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    border: 2px solid gold;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    margin-left: 20px;
    margin-right: 20px;
}
